body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    background-repeat: no-repeat;
}

.wrap {
    background-color: #062c7d;
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat; /* 禁止背景图像重复 */
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

#carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; /* 固定宽度 */
    height: 600px; /* 固定高度 */
}
h1 {
    text-align: center; /* 将h1元素的文本居中 */
    width: 100%; /* 使h1元素占满其容器的宽度 */
}
#thumb img {
    width: 100px;
    height: 100px;
    margin: 0 5px; /* 每个图片的左右间距 */
}
footer {
    background-color:  rgba(167, 242, 211, 0.929);/* 淡蓝色背景 */
    color: rgba(10, 9, 9, 0.906); /* 白色文本 */
    text-align: center; /* 文本居中 */
    padding: 20px; /* 内边距 */
    position:/* 固定在页面底部 */
    width: 100%; /* 宽度100% */
    bottom: 0; /* 距离页面底部0 */
    left: 0; /* 距离页面左侧0 */
  }
  .menu-box {
    border: 1px solid #ccc; /* 边框样式 */
    padding: 20px; /* 内边距 */
    background-color: #f9f9f9; /* 背景色 */
    border-radius: 5px; /* 圆角 */
}
